
.navbar-brand {
  font-size: 2.5em;
  color: #5f9ea0;
}

.centered {
  text-align: center;
}

.container1{
  width: 95vw;
  margin:auto;
}
.container2{
  width: 90vw;
  margin:auto;
}

.navbar-dark{
  background: #2b5222;

}

.mountains{
  background-image: url(./mountains.jpg);
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
}

/* Trying to make a semi-transparent background color overlay background img */
/* .vellum{
  background-image: url(./mountains.jpg);
  width: 100%;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
}

.vellum::after{
    content: "";
    background: rgba(23, 87, 34, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
} */

.thumbnail {
  text-align: center;
}
.picture{
  text-align: center;
}

.thumbnail>img{
  border-radius: 5%;
  height: 400px;
  width: 600px;
}

.picture>img{
  border-radius: 5%;
  height: 500px;
  width: 350px;
}


.gray1{
  background-color: #cbd0c9b8;
  color: #1b1e21;
  padding: 0em;
  border-radius: 1.5em;
  border: 10px solid transparent;
  margin-top: 1.25em;
}
